
*.user
*.exe
*.o
*.o
*.so
*.obj
win/com_to_web/com_to_web/debug/com_to_web.exe
*.exe
*.o
*.exe
win/com_to_web/build-com_to_web-Desktop_Qt_5_7_0_MinGW_32bit-Debug/Makefile
win/com_to_web/build-com_to_web-Desktop_Qt_5_7_0_MinGW_32bit-Debug/Makefile.Debug
win/com_to_web/build-com_to_web-Desktop_Qt_5_7_0_MinGW_32bit-Debug/object_script.com_to_web.Debug
*.Release
*.21
*.stash
win/com_to_web/build-com_to_web-Desktop_Qt_5_13_0_MinGW_32_bit-Release/Makefile
*.Debug
*.Debug
*.Release
*.Release
*.Debug
win/com_to_web/com_to_web/Makefile
*.Debug
*.Release
*.Debug
*.Release
win/com_to_web/build-com_to_web-Desktop_Qt_5_13_0_MinGW_32_bit-unknown/Makefile
*.user
