
*.user
*.so
*.obj
win/com_to_web/com_to_web/debug/com_to_web.exe
win/com_to_web/build-com_to_web-Android_armeabi_v7a_Clang_Qt_5_13_0_for_Android_ARMv7_cbba3b-Debug
win/com_to_web/build-com_to_web-Desktop_Qt_5_7_0_MinGW_32bit-Debug/Makefile
win/com_to_web/build-com_to_web-Desktop_Qt_5_7_0_MinGW_32bit-Debug/Makefile.Debug
win/com_to_web/build-com_to_web-Desktop_Qt_5_7_0_MinGW_32bit-Debug/object_script.com_to_web.Debug
win/com_to_web/build-com_to_web-Desktop_Qt_5_13_0_MinGW_32_bit-unknown/
win/com_to_web/build-com_to_web-Android_armeabi_v7a_Clang_Qt_5_13_0_for_Android_ARMv7_cbba3b-Debug
win/com_to_web/build-com_to_web-Desktop_Qt_5_13_0_MinGW_32_bit-Release
*.Release
*.21
*.stash
win/com_to_web/build-com_to_web-Desktop_Qt_5_13_0_MinGW_32_bit-Release/Makefile
*.Debug
*.Debug
*.Release
*.Release
*.Debug
win/com_to_web/com_to_web/Makefile
*.Debug
*.Release
*.Debug
*.Release
win/com_to_web/build-com_to_web-Desktop_Qt_5_13_0_MinGW_32_bit-unknown/Makefile
*.user
*wifi_key.h
arduino/esp32_tracker/wifi_key.h
*.Release
*.Debug
win/com_to_web/build-com_to_web-Desktop_Qt_5_15_1_clang_64bit-Debug/
win/com_to_web/com_to_web/debug/